//text
$primaryColor: #c62641;
$secondaryColor: #333333;
$textColor: #444444;
$fadedColor: #888888;

//backgrounds
$primaryBackgroundColor: #f8f8f8;
$secondaryBackgroundColor: rgba(0, 0, 0, 0.07);

//borders
$lineColor: rgba(51, 51, 51, 0.2);
$border: 1px double rgba(0, 0, 0, 0.1);
$inputBorder: rgba(68, 68, 68, 0.2);

//shadows
$shadow: 0 3rem 5rem 0 rgba(1, 1, 1, 0.15);
$secondaryShadow: 0 1rem 2rem 0 rgba(1, 1, 1, 0.15);

//fonts
$primaryFont: 'Domine';
$secondaryFont: 'Josefin Sans';
