.btn {
	display: inline-block;
	min-width: 16rem;
	text-align: center;
	height: 4rem;
	line-height: 4rem;
	vertical-align: middle;
	background: $primaryColor;
	border: 1px solid $primaryColor;
	font-size: 1.1rem;
	font-family: $secondaryFont;
	color: #ffffff;
	text-transform: uppercase;
	outline: 0;
	transition: 0.1s;
	cursor: pointer;
	&:hover {
		box-shadow: $secondaryShadow;
	}
	&--outline {
		background-color: transparent;
		color: $primaryColor;
	}
	&--secondary {
		background-color: #ffffff;
		border-color: #ffffff;
		color: $primaryColor;
		&.btn--outline {
			background-color: transparent;
			color: #ffffff;
		}
	}
	&--dark {
		background-color: $secondaryColor;
		color: #ffffff;
		border-color: $secondaryColor;
		&.btn--outline {
			background-color: transparent;
			color: $secondaryColor;
		}
	}
	&--sm {
		min-width: 4rem;
	}
	&s-row {
		.btn {
			margin-right: 1rem;
			@media screen and (max-width: 1200px) {
				margin-bottom: 1rem;
			}
		}
	}
	&:disabled {
		opacity: 0.7;
	}
}
