.dropdown {
  position: relative;
  &:hover {
    .dropdown__body {
      display: block;
    }
  }
  &__body {
    display: none;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 90%;
    min-width: 16rem;
    color: $textColor;
    padding: 1.5rem;
    box-shadow: $shadow;
  }
  &__item {
    transition: 0.1s;
    display: inline-block;
    margin-bottom: 1rem;

    &:hover {
      margin-left: 1rem;
    }
  }
}
