header,
.header {
  background-color: $primaryColor;
  position: fixed;
  width: 100%;
  z-index: 999;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
